@import "../../sass/main.scss";

.slideshow_container {
  position: relative;

  &_img {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
    @media screen and (max-width: 576px) {
      height: 255px;
    }
  }
  &_arrow {
    position: absolute;
    height: 15%;
    transform: translateY(-50%);
    top: 50%;
    cursor: pointer;
    &:active {
      transform: translateY(-50%) scale(0.9);
    }
    &_prev {
      left: 2%;
    }
    &_next {
      right: 2%;
    }
  }

  &_counter {
    position: absolute;
    width: 100%;
    bottom: 3%;
    color: $tertiary-color;
  }
  p {
    @include flex(row, center, center);
    @media screen and (max-width: 576px) {
      display: none;
    }
  }
}
