@import "../../sass/main.scss";

.about_gap {
  @include flex(column, center, center);
  // gap: 38px;
  // @media screen and (max-width: 768px) {
  //   gap: 29px;
  // }
  // @media screen and (max-width: 576px) {
  //   gap: 19px;
  // }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.fiabilty,
.respect,
.service,
.security {
  background-color: $primary-color;
  color: $tertiary-color;
  padding: 10px 20px 10px 15px;
  font-size: 24px;
  border-radius: 5px;
}

.collapses_container {
  width: 80%;
  @include flex(column, center, center);
  gap: 30px;
  @media screen and (max-width: 1239px) {
    width: 90%;
  }
  @media screen and (max-width: 576px) {
    gap: 20px;
  }
}
