* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 45px;
  @media screen and (max-width: 768px) {
    padding-top: 30px;
  }
  @media screen and (max-width: 576px) {
    padding-top: 20px;
  }
}


a {
  text-decoration: none;
}
