.body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main_container {
    max-width: 1240px;
    margin: 0 auto;
}

.housing_info {
    display: flex;
    justify-content: space-between;
}

.housing_collapse {
    display: flex;
    gap: 76px;
    margin-top: 20px;
}