.title {

}

.title h1 {
    font-size: 36px;
    color: #FF6060;
    font-weight: 500;
    margin: 0;
    text-align: left;
}

.title p {
    font-size: 18px;
    color: black;
    margin-top: 5px;
}