.card {
    border-radius: 10px;
    height: 300px;
    background: linear-gradient(to bottom, #FF6060, #a84444);
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    width: calc(33.333% - 40px); /* Ajustez la soustraction pour augmenter la marge */
    /* margin: 30px; Augmentez la marge comme vous le souhaitez */
    /* Supprimez les propriétés de flex-wrap, flex-direction, et align-items car elles ne sont pas nécessaires */
}

.card__title {
    color: white;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    /* Supprimez max-width et margin-top car ils ne sont pas nécessaires avec position absolute */
}

.card a {
    text-decoration: none;
}
