@import "../../sass/main.scss";

.collapse {
  width: 100%;
  max-width: 1240px;
  overflow: hidden; // Important pour contenir l'effet de déroulement
  @media screen and (max-width: 1240px) {
    width: 91%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  &.is-open {
    max-height: none;
  }
  &_header {
    @include flex(row, space-between, center);
    color: $tertiary-color;
    background-color: $primary-color;
    padding: 10px 20px 10px 15px;
    height: 52px;
    border-radius: 5px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      height: 45px;
    }
    @media screen and (max-width: 576px) {
      height: 30px;
    }
  }
  &_title {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    @media screen and (max-width: 576px) {
      font-size: 13px !important;
    }
  }
  .arrow {
    @media screen and (max-width: 576px) {
      width: 16px;
    }
  }
  .arrow_down {
    transform: rotate(180deg);
    transition: transform 0.1s ease-in-out;
  }
  .arrow_up {
    transform: rotate(0deg);
    transition: transform 0.1s ease-in-out;
  }
  &_content {
    background-color: $secondary-color;
    color: black;
    font-size: 18px;
    border-radius: 0 0 5px 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, padding 0.4s ease-in-out;
    opacity: 0;
    padding: 0 15px; // La transition du padding ajoute à l'effet fluide
    
    &.expanded {
      max-height: 500px; // Assurez-vous que c'est suffisant pour couvrir le contenu maximum.
      opacity: 1;
      padding: 15px;
    }
    @media screen and (max-width: 576px) {
      font-size: 12px;
    }
  }
}
