@import "../../sass/main.scss";

.gallery {
  @include flex(row, center, center);
  flex-wrap: wrap;
  border-radius: 25px;
  background-color: $secondary-color;
  width: 100%;
  gap: 50px;
  padding: 50px 45px;
  @media screen and (max-width: 1230px) {
    padding: 30px 10px;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
    padding: 30px;
  }
  @media screen and (max-width: 576px) {
    gap: 22px;
    width: 100%;
    padding: 0 20px;
    padding-top: 0;
    background-color: $tertiary-color;
  }

  .card:last-child {
    margin-right: auto;
  }
}
