@import "../../sass/main.scss";

.error {
  @include flex(column, space-between, center);
  color: $primary-color;
  gap: 139px;
}

h1 {
  font-size: 288px;
  font-weight: 700;
  margin: 0 auto;
}
h2 {
  font-size: 36px;
  margin: 0 auto;
  text-align: center;
}
h3 {
  color: black;
  font-size: 18px;
  margin: 0 auto;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .error h1 {
    font-size: 96px;
  }

  .error h2 {
    font-size: 18px;
    width: 70%;
  }

  .error h3 {
    font-size: 14px;
  }
}
